<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992134129354-sgdinqocmmu31pu4v5brh2d7uealbpd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992134129354-sgdinqocmmu31pu4v5brh2d7uealbpd3</string>
	<key>API_KEY</key>
	<string>AIzaSyDnEN6rmOfD8vEVxBnP5nrrZmrd7B3CPuk</string>
	<key>GCM_SENDER_ID</key>
	<string>992134129354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AJCordova.Redux-Todo</string>
	<key>PROJECT_ID</key>
	<string>redux-todo-455fe</string>
	<key>STORAGE_BUCKET</key>
	<string>redux-todo-455fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992134129354:ios:e0324508749eb7b172f633</string>
</dict>
</plist>